/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--page-gradient);
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--main-font), fantasy;
}

.header {
  width: var(--width);
  background-color: var(--background-color);
  color: currentColor;
  margin: 100px auto;
  text-align: center;
  padding: var(--padding);
  border: 2px solid #000;
}

.header-title {
  font-size: clamp(49px, calc(43.37px + 1.5vw), 65px);
  text-transform: uppercase;
}

.header-text {
  font-size: clamp(14px, calc(10.83px + 0.85vw), 23px);
  padding-top: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: var(--width);
  margin: auto;
}

.card {
  background-color: var(--background-color);
  border: 2px solid #000;
  font-family: var(--accent-font);
}

.container{
  position: relative;
}

.main__image {
  width: var(--width);
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
 filter: brightness(50%);
   mix-blend-mode: hard-light;
}

.img-label {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #000;
  -webkit-text-stroke: 1px #fff;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  font-family: var(--main-font);
}

.main__title {
  font-weight: 715;
  padding: 4px 10px;
  font-size: 18px;
}

.main__description {
  font-weight: 410;
  font-size: 18px;
  line-height: 117%;
  padding: 25px;
}

.memories {
  padding-top: 0;
}

.main__actions {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px 25px;
}

.card__like-button {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
  padding: 12.5px 37px;
  border: 2px solid #000;
}
