/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--page-gradient);
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--main-font), fantasy;
}

.header {
  width: var(--width);
  background-color: var(--background-color);
  color: currentColor;
  margin: 100px auto;
  text-align: center;
  padding: var(--padding);
  border: 2px solid #000;
}

.header-title {
  font-size: clamp(49px, calc(43.37px + 1.5vw), 65px);
  text-transform: uppercase;
}

.header-text {
  font-size: clamp(14px, calc(10.83px + 0.85vw), 23px);
  padding-top: 20px;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: var(--width);
  margin: auto;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--background-color);
  border: 2px solid #000;
  font-family: var(--accent-font);
}

.container {
  position: relative;
}

.main__image {
  width: var(--width);
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  mix-blend-mode: hard-light;
  max-width: 696px;
  height: 696px;
  object-fit: cover;
}

.brightness {
  filter: brightness(50%);
}

.layer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.sepia {
  filter: sepia(35%);
}

.saturate {
  filter: saturate(120%);
}

.grayscale {
  filter: grayscale(0.8) brightness(50%);
}

.invert {
  filter: invert(0.8);
}

.drop-shadow {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.8));
}

.img-label {
  position: absolute;
  top: 25px;
  right: 25px;
  color: #000;
  text-shadow: 0 0 1px var(--color-text);
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  font-family: var(--main-font);
}

@supports (-webkit-text-stroke: 1px var(--color-text)) {

  .img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-text);
    text-stroke: 1px var(--color-text);
  }

}

.main__title {
  font-variation-settings: 'wght' var(----card-text-weight);
  padding: 4px 10px;
  font-size: 18px;
}

.main__description {
  font-weight: 410;
  font-size: 18px;
  line-height: 117%;
  padding: 25px;
}

.memories {
  padding-top: 0;
}

.main__actions {
  display: flex;
  gap: 7px;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px 25px;
}

.card__like-button {
  background-color: transparent;
  width: 130px;
  height: 38px;
  border: 2px solid #000;
}

.button__text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  color: var(--color-text);
  mix-blend-mode: difference;
  display: block;
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
 padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 21px 20px;
  border: 2px solid #000;
  background-color: var(--background-color);
}

.block {
  display: flex;
  gap: 20px;
  align-items: center;
}

dialog[open] {
  max-width: 353px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.dialog__button {
  padding: 12.5px 0;
}

.special-text {
  justify-items: center;
  line-height: 150%;
  text-transform: uppercase;
  width: 234px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.action-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 #000;
  transition: box-shadow 0.3s ease;
}

.action-button {
  position: relative;
  background-color: var(--background-color);
}

.action-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  background-color: #000;
}

.svg {
  fill: currentColor;
}

.action-button:hover::before {
  transform: scaleX(1);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--svg-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--svg-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.06s;
}

.is-liked {
  transform-origin: center;
  animation: mashtab 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: boom 0.3s ease-in 0.3s;
}

.mobile-icon {
  display: none;
}

.box-button {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

@media (width <= 375px) {
  .box-button {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }

  .button {
    padding: 17.5px 20px;
  }

  .desktop-icon {
    display: none;
  }

  .mobile-icon {
    display: block;
    width: 28px;
    height: 28px;
  }

  dialog[open] {
    max-width: 341px;
    padding: 30px 40px;
  }

  .dialog__button {
    padding: 12.5px 0;
  }

  .main__image {
    max-width: 371px;
    max-height: 371px;
  }

  .header {
    margin-bottom: 98px;
  }
}
