/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--page-gradient);
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--main-font), fantasy;
}

.header {
  width: var(--width);
  background-color: #fff;
  color: currentColor;
  margin: 100px auto;
  text-align: center;
  padding: var(--padding);
}

.header-title {
  font-size: clamp(49px, 100%, 65px);
}

.header-text {
  font-size: clamp(14px, 100%, 23px);
  padding-top: 20px;
}
